{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link rel="stylesheet" href="{% static "stylesperfus.css" %}" >
    
</head>
<body>
    <div class="container">
        <h2>Estadísticas</h2>
        <!-- Estadísticas sobre ansiedad -->
        <h3>Ansiedad</h3>
        <p>Promedio de Ansiedad: 75%</p>
        <p>Porcentaje de Usuarios con Ansiedad Alta: 35%</p>
        <p>Porcentaje de Usuarios con Ansiedad Moderada: 45%</p>
        <p>Porcentaje de Usuarios con Ansiedad Baja: 20%</p>
        
        <!-- Estadísticas sobre depresión -->
        <h3>Depresión</h3>
        <p>Promedio de Depresión: 60%</p>
        <p>Porcentaje de Usuarios con Depresión Alta: 25%</p>
        <p>Porcentaje de Usuarios con Depresión Moderada: 40%</p>
        <p>Porcentaje de Usuarios con Depresión Baja: 35%</p>
    </div>
</body>
</html>
