
{% include 'core/base.html' %}

    {% block content %}
    
    
    <div class="container">
        {% if request.user.is_authenticated %}
            <h2>Bienvenido {{ user.username | upper }}</h2>
        {% endif %}
        <div class="options">
            <a href="{% url 'aplicacion:ansiedad' %}">Realizar Test de Ansiedad</a>
            <a href="{% url 'aplicacion:depresion' %}">Realizar Test de Depresión</a>
            <a href="{% url 'aplicacion:estadisticas' %}">Ver Estadísticas</a>
            <a href="{% url 'aplicacion:seguimiento' %}" >Seguimiento de Progreso</a>
        </div>
    </div>
    <!-- Botón de Cerrar Sesión 
    <a  href="{% url 'salir' %}" class="logout-button">Cerrar Sesión</a>-->
    {% endblock %}

